/* CSS declarations go here */
.app-body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    padding: 2em 10em 4em;
}

.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}